/ephesoft-components-webservices/target/
/ephesoft-components-webservices/.settings/
/ephesoft-components-webservices/.project
/ephesoft-components-webservices/.classpath

/ephesoft-components-repo/target/
/ephesoft-components-repo/.settings/
/ephesoft-components-repo/.project
/ephesoft-components-repo/.classpath

.DS_Store
/deploy-*.sh